<ion-view view-title="Trinca">

<ion-content has-header="true">


<ion-list>
<ion-item class="trinca-item" ng-repeat="draw in openDraws">

<div class="row  titulo">
    <div class="col col-33">
        TRINCA#{{draw.get("drawNum")}}
    </div>
    <div class="col fecha">
        Sorteo :{{draw.get("drawDate") | date:'yyyy-MM-dd' }}
    </div>
</div>

<div class="row">
    <div class="col">
        Apuesta:
    </div>
</div>
<div class="row">
    <div class="col figura bola">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betNum1")}}
            </div>
        </div>
    </div>
    <div class="col figura bola">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betNum2")}}
            </div>
        </div>
    </div>
    <div class="col figura bola">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betNum3")}}
            </div>
        </div>
    </div>
    <div class="col figura bola">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betNum4")}}
            </div>
        </div>
    </div>
    <div class="col figura bola">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betNum5")}}
            </div>
        </div>
    </div>


    <div class="col figura estrella">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betStar1")}}
            </div>
        </div>
    </div>
    <div class="col figura estrella">
        <div class="num-outer">
            <div class="num">
                {{draw.get("betStar2")}}
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col col-33">
        <div class="tarjeta">
            <h2 class="cabecera">Tienes</h2>

            <div class="col figura counter">
                <div class="num-outer">
                    <div class="num num-big">
                        {{sumMyTickets(draw)}} 
                        <br/>
                        <div class="num-extra-info">de  {{draw.get("totalTicketCount")}}</div>
                    </div>
                </div>
            </div>
            <h2 class="pie">TRINCAS</h2>
        </div>
    </div>

    <div class="col col-67">
     <div class="row">

        <button 
        class="{{adButtonClass()}} button button-full icon-left ion-star button-positive"
        ng-click="trinca(draw)">
        Usar trinca! (tienes {{iragarkiBotea}})
    </button>
</div>
<div class="row">

    <button class="button button-full icon-left ion-social-facebook button-positive"
    ng-click="shareFB()">
    Share (+3)
</button>

</div>
</div>

</div>



</ion-item>
</ion-list>



</ion-content>
</ion-view>