<ion-content has-header="true">


    <div class="row">
        Más repetidos:

    </div>


    <div class="row trinca-item">
        <div class="col figura bola">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betNum1")}}
                </div>
            </div>
        </div>
        <div class="col figura bola">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betNum2")}}
                </div>
            </div>
        </div>
        <div class="col figura bola">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betNum3")}}
                </div>
            </div>
        </div>
        <div class="col figura bola">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betNum4")}}
                </div>
            </div>
        </div>
        <div class="col figura bola">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betNum5")}}
                </div>
            </div>
        </div>


        <div class="col figura estrella">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betStar1")}}
                </div>
            </div>
        </div>
        <div class="col figura estrella">
            <div class="num-outer">
                <div class="num">
                    {{mostFreq.get("betStar2")}}
                </div>
            </div>
        </div>

    </div>

    </div>

    <div class="row info-row">
        <div class="col col-50">
            <div class="item item-avatar">
                <img src="../www/img/crowd.png">

                <p>Usuarios</p>

                <h2>{{userCount}}</h2>
            </div>
        </div>
        <div class="col col-50">
            <div class="item item-avatar">
                <img src="../www/img/percent.png">

                <p>Trincas jugados</p>

                <h2>{{playedDraws}}</h2>
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col col-50">
            <div class="item item-avatar">
                <img src="../www/img/crowd.png">

                <p>Trincas activos</p>

                <h2>{{activeDraws}}</h2>
            </div>
        </div>
        <div class="col col-50">
            <div class="item item-avatar">
                <img src="../www/img/percent.png">

                <p>Trinca ha repartido</p>

                <h2> {{totalPrize}}€</h2>
            </div>
        </div>
    </div>


</ion-content>

