<?xml version='1.0' encoding='utf-8'?>
<widget id="net.sareweb.trinca" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trinca</name>
    <description>
        Trinca! Juega Euromillones!
    </description>
    <author email="support@drifty.com" href="http://ionicframework.com/">
        Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
