<ion-view title="Trinca" left-buttons="leftButtons"></ion-view>

<ion-side-menus>

    <ion-pane ion-side-menu-content>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleMenu()"></button>
        </ion-nav-buttons>

        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-pane>

    <ion-side-menu side="left">

        <ion-content has-header="true" scroll="true">

              <div class="list">

              <a menu-close nav-clear class="item item-icon-left" href="#/event/home">
                    <i class="icon ion-pricetags"></i>
                    Inicio
                </a>
                <!--
                <a menu-close nav-clear class="item item-icon-left" href="#/event/mine">
                    <i class="icon ion-pricetags"></i>
                    Mis TRINCAs
                </a>
                -->
                <a menu-close nav-clear class="item item-icon-left" href="#/event/hist">
                    <i class="icon ion-calendar"></i>
                    Histórico
                </a>

                <a menu-close nav-clear class="item item-icon-left" href="#/event/stats">
                    <i class="icon ion-arrow-graph-up-right"></i>
                    Estadísticas
                </a>

                <a menu-close nav-clear class="item item-icon-left" href="#/event/messages">
                    <i class="icon ion-speakerphone"></i>
                    Avisos
                    <span class="badge badge-assertive">{{getUnreadMsgNum()}}</span>
                </a>

                 <a menu-close nav-clear class="item item-icon-left" href="#/event/howto">
                      <i class="icon ion-help"></i>
                      ¿Cómo funciona?
                 </a>

                <!--
                <a menu-close nav-clear class="item item-icon-left" href="#/event/ad_test">
                    <i class="icon ion-speakerphone"></i>
                    Ad Testing
                </a>
                 -->
                <a menu-close nav-clear class="item item-icon-left" ng-click="logout()">
                    <i class="icon ion-exit"></i>
                    Exit
                </a>

            </div>



        </ion-content>

        <div class="bar bar-footer bar-energized">
            <h1 class="title">Hola  {{user.get("email")}}</h1>
        </div>
    </ion-side-menu>

</ion-side-menus>