.trinca-logo{
	content: url(../img/icon.png);
	width: 20px;
}

.logo-img{
 background: url(../img/icon.png) no-repeat;
height: 200px;

    background-position: center;

}


footer {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/foot-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}